@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container">
    <h1 class="welcome-title">
        Welcome to cashTracker!
    </h1>

    <div class="btn-group-custom">
        <a asp-action="Expenses" class="btn btn-outline-primary btn-lg">💰 Review Expenses</a>
        <a asp-action="CreateEditExpense" class="btn btn-primary btn-lg">➕ Create an Expense</a>
    </div>
</div>
